### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [152]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [67]:
purchase_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
Purchase ID    780 non-null int64
SN             780 non-null object
Age            780 non-null int64
Gender         780 non-null object
Item ID        780 non-null int64
Item Name      780 non-null object
Price          780 non-null float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.7+ KB

In [68]:
# Check the column names
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [69]:
# How many purchases were made by each screen name
total_purchases_by_player = purchase_data.SN.value_counts()[0:20]

## Player Count

In [70]:
# How many individual players there are by SN
Unique_playercount = purchase_data.SN.nunique()
Unique_playercount

576

* Display the total number of players

In [71]:
# Create a DF that with the Total Players calling the variable Unique_playercount
Summary_Playercount = pd.DataFrame({"Total Players":[Unique_playercount]})
Summary_Playercount

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [128]:
# Find the Number of Unique Items
total_items_purchased = purchase_data["Item ID"].nunique()
total_items_purchased

183

In [133]:
# Find the Number of Purchases
total_purchases = purchase_data["Item ID"].count()
total_purchases

780

In [130]:
# Find the Average Purchase Price
avg_price = purchase_data.Price.mean()
avg_price

3.050987179487176

In [131]:
# Find the Total Revenue
total_revenue = purchase_data.Price.sum()
total_revenue

2379.77

In [132]:
# Create a summary table for Purchasing Analysis
Purchasing_Analysis_DF1 = pd.DataFrame()
Purchasing_Analysis_DF1

Empty DataFrame
Columns: []
Index: []

In [151]:
Purchasing_Analysis_DF1 ["Number of Unique Items"] = total_items_purchased
Purchasing_Analysis_DF1 ["Number of Purchases"] = total_purchases
Purchasing_Analysis_DF1 ["Average of Price"] =  pd.Series(avg_price).map("${:.2f}".format)
Purchasing_Analysis_DF1 ["Total Revenue"] = pd.Series(total_revenue).map("${:.2f}".format)
Purchasing_Analysis_DF1

   Number of Unique Items  Number of Purchases Average of Price Total Revenue
0                     183                  780            $3.05      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [41]:
# How many Gender groups are in the data set
total_gender_types = purchase_data.Gender.nunique()

In [42]:
# Identifying the gender types in the data set
purchase_data.Gender.unique()

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [43]:
# How many total purchases were made by each gender
gender_counts = purchase_data.Gender.value_counts()
gender_counts

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [44]:
# Since we know there are more rows than unique SNs, we can remove any duplicates enabling us to evaluate a more accurate view of the purchasing population
new_playergender_DF = purchase_data.drop_duplicates("SN")
new_playergender_DF.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [45]:
# Check to be sure that the number of SNs in the table matches the unique player count number
new_playergender_DF.SN.count()

576

In [48]:
# Check that that's also how many rows we have (meaning our duplicate drop function worked)
player_gender_count = len(new_playergender_DF)
player_gender_count

576

In [49]:
# Display only the SN, Gender, and Age in a table
new_playergender_DF = new_playergender_DF[["SN","Gender","Age"]]
new_playergender_DF.head()

              SN Gender  Age
0        Lisim78   Male   20
1    Lisovynya38   Male   40
2     Ithergue48   Male   24
3  Chamassasya86   Male   24
4      Iskosia90   Male   23

In [51]:
# Find the percentage of each gender in players 
Gender_percent = new_playergender_DF.Gender.value_counts()/player_gender_count
Gender_percent

Male                     0.840278
Female                   0.140625
Other / Non-Disclosed    0.019097
Name: Gender, dtype: float64

In [52]:
# Create a summary table for Gender Demographics
Gender_Demo_DF = pd.DataFrame()
Gender_Demo_DF

Empty DataFrame
Columns: []
Index: []

In [55]:
Gender_Demo_DF ["Total Counts"] = gender_counts
Gender_Demo_DF ["Percentage of Players"] = Gender_percent.map("{:.2%}".format)
Gender_Demo_DF

                       Total Counts Percentage of Players
Male                            652                84.03%
Female                          113                14.06%
Other / Non-Disclosed            15                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [141]:
# Find the number of purchases by gender
purchase_data.Gender.value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [142]:
# Group the purchases by gender
Grouped_Gender = purchase_data.groupby("Gender")
type(Grouped_Gender)

pandas.core.groupby.generic.DataFrameGroupBy

In [143]:
# Find the average purchase price for each gender
groupedgen_av_purch_price = Grouped_Gender.Price.mean()

In [144]:
# Find the total purchase for each gender
groupedgen_total_purch_value = Grouped_Gender.Price.sum()

In [145]:
# Find the total number of purchases for each gender
groupedgen_total_purch_count = Grouped_Gender.Price.count()

In [154]:
#Find Average Purchase Total per Person by Gender
groupedgen_av_purchtot= groupedgen_total_purch_value / Unique_playercount
groupedgen_av_purchtot

Gender
Female                   0.628368
Male                     3.416042
Other / Non-Disclosed    0.087135
Name: Price, dtype: float64

In [155]:
Gender_PurchAnal_DF = pd.DataFrame()
Gender_PurchAnal_DF

Empty DataFrame
Columns: []
Index: []

In [156]:
# Formatted Summary Table
Gender_PurchAnal_DF ["Purchase Count"] = groupedgen_total_purch_count
Gender_PurchAnal_DF ["Average Purchase Price"] = groupedgen_av_purch_price.map("${:.2f}".format)
Gender_PurchAnal_DF ["Total Purchase Value"] = groupedgen_total_purch_value.map("${:.2f}".format)
Gender_PurchAnal_DF ["Average Purchase Total per Person by Gender"] = groupedgen_av_purchtot.map("${:.2f}".format)
Gender_PurchAnal_DF

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Gender
Gender,,,,
Female,113,$3.20,$361.94,$0.63
Male,652,$3.02,$1967.64,$3.42
Other / Non-Disclosed,15,$3.35,$50.19,$0.09

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [47]:
# Establish bins for ages
bins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,200]
groups = ["<10","10-14","15-29","20-24","25-29","30-34","34-39","40+"]

In [48]:
#Categorize the existing players using the age bins. Hint: use pd.cut() 
new_playergender_DF["Age_Group"] = pd.cut(new_playergender_DF.Age,bins=bins,labels=groups)
new_playergender_DF.head()

              SN Gender  Age Age_Group
0        Lisim78   Male   20     20-24
1    Lisovynya38   Male   40       40+
2     Ithergue48   Male   24     20-24
3  Chamassasya86   Male   24     20-24
4      Iskosia90   Male   23     20-24

In [49]:
# Calculate the numbers and percentages by age group
Age_bin = new_playergender_DF.Age_Group.value_counts()

In [50]:
# Calculate the numbers and percentages by age group
Age_bin_percs = new_playergender_DF.Age_Group.value_counts(normalize = True)

In [51]:
Age_Demo_DF = pd.DataFrame()
Age_Demo_DF

Empty DataFrame
Columns: []
Index: []

In [62]:
# Formatted Summary Table
Age_Demo_DF ["Total Count"] = Age_bin
Age_Demo_DF ["Percentage of Players"] = Age_bin_percs.map("{:.2%}".format)
Age_Demo_DF.sort_index()

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-29          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
34-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [92]:
# Establish bins for ages
bins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,200]
groups = ["<10","10-14", "15-29","20-24","25-29","30-34","34-39","40+"]

In [93]:
#Categorize the existing players using the age bins. Hint: use pd.cut()
purchase_data["Age_Group"] = pd.cut(purchase_data.Age,bins,labels=groups)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age_Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [94]:
# Group by age group
agegroup = purchase_data.groupby("Age_Group")
type(agegroup)

pandas.core.groupby.generic.DataFrameGroupBy

In [95]:
# Total number of purchases by age group
groupedage_total_purch_count = agegroup.Price.count()
groupedage_total_purch_count

Age_Group
<10       23
10-14     28
15-29    136
20-24    365
25-29    101
30-34     73
34-39     41
40+       13
Name: Price, dtype: int64

In [96]:
# Average purchase amount by age group
groupedage_av_purch_amount = agegroup.Price.mean()
groupedage_av_purch_amount

Age_Group
<10      3.353478
10-14    2.956429
15-29    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
34-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [97]:
# Total purchase amount by age group
groupedage_total_purch_amount = agegroup.Price.sum()
groupedage_total_purch_amount

Age_Group
<10        77.13
10-14      82.78
15-29     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
34-39     147.67
40+        38.24
Name: Price, dtype: float64

In [157]:
# Average Purchase Total per Person by Age Group (purchase value/number of players) by age group
groupedage_av_purchtot = groupedage_total_purch_amount/ Unique_playercount
groupedage_av_purchtot

Age_Group
<10      0.133906
10-14    0.143715
15-29    0.716823
20-24    1.934132
25-29    0.508681
30-34    0.371528
34-39    0.256372
40+      0.066389
Name: Price, dtype: float64

In [158]:
# make summary table
Age_PurchAnal_DF = pd.DataFrame()
Age_PurchAnal_DF

Empty DataFrame
Columns: []
Index: []

In [159]:
Age_PurchAnal_DF ["Purchase Count"] = groupedage_total_purch_count
Age_PurchAnal_DF ["Average Purchase Price"] = groupedage_av_purch_amount.map("${:.2f}".format)
Age_PurchAnal_DF ["Total Purchase Value"] = groupedage_total_purch_amount.map("${:.2f}".format)
Age_PurchAnal_DF ["Average Purchase Total per Person by Age Group"] = groupedage_av_purchtot.map("${:.2f}".format)
Age_PurchAnal_DF

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Age Group
Age_Group,,,,
<10,23,$3.35,$77.13,$0.13
10-14,28,$2.96,$82.78,$0.14
15-29,136,$3.04,$412.89,$0.72
20-24,365,$3.05,$1114.06,$1.93
25-29,101,$2.90,$293.00,$0.51
30-34,73,$2.93,$214.00,$0.37
34-39,41,$3.60,$147.67,$0.26
40+,13,$2.94,$38.24,$0.07

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [104]:
#Groupby SN
SNgroup = purchase_data.groupby("SN")
type(SNgroup)

pandas.core.groupby.generic.DataFrameGroupBy

In [105]:
# Total number of purchases by SN
SNgroup_total_purch_count = SNgroup.Price.count()
SNgroup_total_purch_count.head()

SN
Adairialis76    1
Adastirin33     1
Aeda94          1
Aela59          1
Aelaria33       1
Name: Price, dtype: int64

In [106]:
# Total purchase value by SN
SNgroup_total_purch_value= SNgroup.Price.sum()
SNgroup_total_purch_value.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [107]:
# Average purchase price by SN
SNgroup_total_av_price = SNgroup_total_purch_value / SNgroup_total_purch_count
SNgroup_total_av_price.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [108]:
# Create DF to hold summary table
Top_Spenders_DF = pd.DataFrame()
Top_Spenders_DF

Empty DataFrame
Columns: []
Index: []

In [109]:
# Create summary table
Top_Spenders_DF ["Purchase Count"] = SNgroup_total_purch_count
Top_Spenders_DF ["Average Purchase Price"] = SNgroup_total_av_price.map("${:.2f}".format)
Top_Spenders_DF ["Total Purchase Value"] = SNgroup_total_purch_value.map("${:.2f}".format)
Top_Spenders_DF.head()

              Purchase Count Average Purchase Price Total Purchase Value
SN
Adairialis76               1                  $2.28                $2.28
Adastirin33                1                  $4.48                $4.48
Aeda94                     1                  $4.91                $4.91
Aela59                     1                  $4.32                $4.32
Aelaria33                  1                  $1.79                $1.79

In [162]:
Top_Spenders_Sorted_DF = Top_Spenders_DF.sort_values("Total Purchase Value", ascending=False)
Top_Spenders_Sorted_DF[0:20]

               Purchase Count Average Purchase Price Total Purchase Value
SN
Haillyrgue51                3                  $3.17                $9.50
Phistym51                   2                  $4.75                $9.50
Lamil79                     2                  $4.64                $9.29
Aina42                      3                  $3.07                $9.22
Saesrideu94                 2                  $4.59                $9.18
Arin32                      2                  $4.54                $9.09
Rarallo90                   3                  $3.02                $9.05
Baelollodeu94               2                  $4.51                $9.03
Aelin32                     3                  $2.99                $8.98
Lisopela58                  3                  $2.95                $8.86
Saedaiphos46                3                  $2.94                $8.83
Chanastnya43                3                  $2.94                $8.82
Reunasu60                   2                  $4.41                $8.82
Raesty92                    3                  $2.91                $8.73
Sundadar27                  2                  $4.35                $8.71
Aerithllora36               2                  $4.32                $8.64
Hada39                      3                  $2.86                $8.57
Chamilsala65                2                  $4.28                $8.55
Silaera56                   3                  $2.83                $8.48
Frichocesta66               2                  $4.19                $8.37

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [111]:
# Groupby Item ID
Itemgroup = purchase_data.groupby(["Item ID","Item Name"])

In [112]:
# Total Purchase Count
Itemgroup_total_purch_count = Itemgroup.Price.count()
Itemgroup_total_purch_count.head()

Item ID  Item Name
0        Splinter              4
1        Crucifer              3
2        Verdict               6
3        Phantomlight          6
4        Bloodlord's Fetish    5
Name: Price, dtype: int64

In [113]:
# Total Item Prices
Itemgroup_av_price = Itemgroup.Price.mean()
Itemgroup_av_price.head()

Item ID  Item Name
0        Splinter              1.28
1        Crucifer              3.26
2        Verdict               2.48
3        Phantomlight          2.49
4        Bloodlord's Fetish    1.70
Name: Price, dtype: float64

In [114]:
# Total Purchase Value
Itemgroup_total_purch_value = Itemgroup.Price.sum()
Itemgroup_total_purch_value.head()

Item ID  Item Name
0        Splinter               5.12
1        Crucifer               9.78
2        Verdict               14.88
3        Phantomlight          14.94
4        Bloodlord's Fetish     8.50
Name: Price, dtype: float64

In [115]:
Pop_Items_DF = pd.DataFrame()
Pop_Items_DF

Empty DataFrame
Columns: []
Index: []

In [116]:
Pop_Items_DF ["Purchase Count"] = Itemgroup_total_purch_count
Pop_Items_DF ["Item Price"] = Itemgroup_av_price.map("${:.2f}".format)
Pop_Items_DF ["Total Purchase Value"] = Itemgroup_total_purch_value.map("${:.2f}".format)
Pop_Items_DF.sort_values("Purchase Count", ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [164]:
Profitable_Items = Pop_Items_DF.sort_values("Total Purchase Value", ascending=False)
Profitable_Items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$9.98
29,"Chaos, Ender of the End",5,$1.98,$9.90
173,Stormfury Longsword,2,$4.93,$9.86
1,Crucifer,3,$3.26,$9.78
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48